build-*
!build-proset.pri
!build-group.pri
!build-root.pri
!build-root-both.pri
!build-all.pro
!build-quick.pro
!build-most.pro
!build-first.pro
!build-custom.pro
targets
Contents
*.pro.user
*.err.txt
*.gen.txt
screenshots
*.rz.*



